{{#if heading}}<h1>{{ heading }}</h1>{{/if}}
{{{ message_html }}}
<table class="attributes" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                      <tr>
                        <td class="attributes_content">
                          <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
                            <tr>
                              <td class="attributes_item">
                                <strong>Amount:</strong> {{ amount }}
                              </td>
                            </tr>
                            <tr>
                              <td class="attributes_item">
                                <strong>Reason:</strong> {{ reason }}
                              </td>
                            </tr>
                            <tr>
                              <td class="attributes_item">
                                <strong>Request ID:</strong> {{ requestId }}
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
{{{ closing_html }}}
