{{#if heading}}<h1>{{ heading }}</h1>{{/if}}
{{{ message_html }}}
<p
                      style="font-weight: 600; font-size: 14px; text-transform: uppercase; letter-spacing: 0.05em; color: #8A817C; margin-top: 25px;">
                      Summary</p>
<table class="attributes" width="100%" cellpadding="0" cellspacing="0" role="presentation">
                      <tr>
                        <td class="attributes_content">
                          <table width="100%" cellpadding="0" cellspacing="0" role="presentation">
                            <tr>
                              <td class="attributes_item">
                                <strong>Inactive tasks:</strong> {{ count }}
                              </td>
                            </tr>
                            <tr>
                              <td class="attributes_item">
                                <strong>Inactivity threshold:</strong> {{ staleDays }}+ day(s)
                              </td>
                            </tr>
                          </table>
                        </td>
                      </tr>
                    </table>
{{{ closing_html }}}
