.otp-box {
          font-size: 32px;
          font-weight: 700;
          letter-spacing: 8px;
          color: #121212;
          text-align: center;
          padding: 24px;
          background-color: #EADCC9;
          border-radius: 0px;
          margin: 24px 0;
      }
