.part-heading {
          font-weight: 600;
          font-size: 14px;
          text-transform: uppercase;
          letter-spacing: 0.05em;
          color: #8A817C;
          margin-top: 25px;
      }
