{{#if heading}}<h1>{{ heading }}</h1>{{/if}}
<table class="alert-table" cellpadding="0" cellspacing="0" role="presentation">
                      <tr>
                        <td>
                          <span style="font-weight: 600;">Your session was forcibly signed out due to suspicious activity.</span>
                        </td>
                      </tr>
                    </table>
{{{ message_html }}}
<p style="margin-top: 24px;">
                      <a href="{{ login_url }}" class="btn">Log In &rarr;</a>
                    </p>
{{{ closing_html }}}
